<footer>
        <div class="footer py-3 mt-3">
            <div class="container">
                <span class="text-muted">
                    AcademyGO 
                </span>
            </div>
        </div>
    </footer>