<header>
        <div class="navbar navbar-expand-sm bg-primary navbar-dark">
            <div class="container">
                <a href="{% url 'index' %}" class="navbar-brand">
                    AcademyGo</a>
                <ul class="navbar-nav mr-auto">
                    <li 
                        {% if request.path == '/' %}
                            class="nav-item active"
                        {% else %}
                            class="nav-item"
                        {% endif %}
                    >
                        <a  href="{% url 'index' %}" class="nav-link">Home</a>
                    </li>
                    <li
                        {% if 'about' in request.path %}
                            class="nav-item active"
                        {% else %}
                             class="nav-item"
                        {% endif %}                    
                    >
                        <a  href="{% url 'about' %}" class="nav-link">About</a>
                    </li>
               
                    <li 
                        {% if 'advertise' in request.path %}
                            class="nav-item active"
                        {% else %}
                            class="nav-item"
                        {% endif %} 
                        >
                        <a  href="{% url 'advertise' %}" class="nav-link">Advertises</a>
                    </li>
                    <li 
                    {% if 'makeanadd' in request.path %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item"
                    {% endif %} 
                    >
                    <a  href="{% url 'makeanadd' %}" class="nav-link">Make an Add</a>
                    </li>
                    {% if user.is_authenticated %} 
                        <li 
                
                            {% if 'myadds' in request.path %}
                                            class="nav-item active"
                                        {% else %}
                                            class="nav-item"
                            {% endif %} 
                                        >
                                <a  href="{% url 'myadds' %}" class="nav-link">MyAdds</a>

                            </li>
                    {% endif %}  
                    
                </ul>
                <ul class="navbar-nav">

                    {% if user.is_authenticated %}    
                     
                    
                        <li class="nav-item">
                            <a  href="{% url 'edit' %}" class="nav-link">({{ user.username }})</a>
                            
                             
                        </li>  
                        <li><a  href="javascript:{document.getElementById('logout').submit()}" class="nav-link"> Logout</a>
                            <form action="{% url 'logout' %}" method="POST" id="logout">
                                {%csrf_token%}
                                 <input type="hidden">  
                            </form>
                        </li>
                    {% else %}
                        <li 
                        {% if 'login' in request.path %} 
                            class="nav-item active"
                        {% else %}
                            class="nav-item"
                        {% endif %}
                         >
                        <a  href="{% url 'login' %}" class="nav-link">Login</a>
                    </li>  
                    <li 
                        {% if 'register' in request.path %} 
                            class="nav-item active"
                        {% else %}
                            class="nav-item"
                        {% endif %}
                    >
                    <a  href="{% url 'register' %}" class="nav-link">Register</a>

                    {% endif %}     
                                 
                     <div class='search'>
                         <form method="GET">
                            <div class="container">
                                <input type="text" class="form-control"  name='q' id="id_q" placeholder="Search..." value="{{query}}">
                                <div class="search"></div>
                              </div>

                         </form>
                     </div>
                </ul>
            </div>
        </div>
</header>