{% extends 'layout.html' %}

{% block content %}
{%  if request.user.is_authenticated %}

    <div class="row">
        <div class="col-md-9 mx-auto">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>MakeAnAdd</h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'makeanadd' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="Title">Title</label>
                            <input type="text" name="Title" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="Description">Description</label>
                            <input type="text" name="Description" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="Salary">Salary</label>
                            <select type="text" name="Salary" class="form-control" required>
                            <option>0-500TL</option>
                            <option>500-1000TL</option>
                            <option>1000-2000TL</option>
                            <option>2000-3000TL</option>
                            <option>More than 3000TL</option>

                            </select>
                            
                        <div class="form-group">
                            <label>Duration
                            </label>
                            <input type="date" name="Duration" class="form-control" required>
                            
                        </div>
                        <div class="form-group">
                            <label>Start
                            </label>
                            <input type="date" name="Duration1" class="form-control" required>
                            
                        </div>
                        <div class="form-group">
                            <label>End
                            </label>
                            <input type="date" name="Duration2" class="form-control" required>
                            
                        </div>
                        <div class="form-group">
                            <label for="Type Of Position">Type Of Position</label>
                            <input type="text" name="Type Of Position" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="FundingAgency">FundingAgency</label>
                            <input type="text" name="FundingAgency" class="form-control" required>
                        </div>
                        <div class="form-group">
                        <label for="filess"></label>Upload File</label>
                        <input type="file" name="filess" class="form-control" >
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Make an Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="alert alert-warning">
        <p>
            Please register to access this page.
        </p>    
    </div>
{% endif %}    
{% endblock %}