{% extends 'layout.html' %}

{% load static %}
{% load humanize %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>


<div class="row">
    <div class="col-md-12">

        {% if advertise %}
            {% for add in advertise%}
                {% if add.ownerofadd == user.get_username %} 
                        <div class="card mb-3">
                        <div class="row">
                 
                            <div class="col-md-9">
                        <div class="card-body">
                            <p class="card-text">
                                {{ add.title }} 
                        </p>
                            <p class="card-text">
                                    {{ add.description }} 
                            </p>
                          
                        </div>
                    </div>
                </div>
                </div>
                {% endif %}   
            {% endfor %}
            
        {% else %}
            <div class="alert alert-warning">
                <p>
                    No add..
                </p>
            </div>
        {% endif %}      
     
    </div>
</div>
{% endblock %}