{% extends 'layout.html' %}

{% load static %}

{% block content %}
<div class="card mb-3">
    <div class="row">

        <div class="col-md-9">
    <div class="card-body">
        <div class="card-title"> 
            <p class="card-text">
                {{ advertise.title }} 
        </p>
         </div>
         <p class="card-text">
            <p class="text-muted">{{ advertise.description}}</p>
        </p>
        <p class="card-text">
            <p class="text-muted">{{ advertise.typeofposition}}</p>
        </p>
        <p class="card-text">
            <p class="text-muted">{{ advertise.salary}}</p>
        </p>
        <p class="card-text">
            <p class="text-muted">{{ advertise.duration}}</p>
        </p>
        <p class="card-text">
            <p class="text-muted">{{ advertise.fundingagency}}</p>
        </p> 
        <p class="card-file">
            <a class="text-underline" href='/media/{{ advertise.filess}}'>click for more details</a>
        </p>
    </div>
</div>
</div>
</div>
{% endblock %}

