{% extends 'layout.html' %}

{% load static %}
{% load humanize %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome</h1>
        <p class="lead"></p>
    </div>
</div>


<div class="row">
    <div class="col-md-12">

        {% if advertise %}
            {% for add in advertise%}
                 {% if add.isPublished == 1%} 
                 <div class="card mb-3">
                  <div class="row">
           
                      <div class="col-md-9">
                  <div class="card-body">
                      <div class="card-title"> 
                          <a href="{% url 'detail' add.id %}"> {{ add.title }}</a>
                       </div>
                      <p class="card-text">
                              {{ add.description }} 
                      </p>
                    
                  </div>
              </div>
          </div>
          </div>
                        

  
                {% endif %} 
            {% endfor %}

        {% else %}
            <div class="alert alert-warning">
                <p>
                    No add..
                </p>
            </div>
        {% endif %}      
     
    </div>
</div>
{% endblock %}