{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AcademyGo</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.bundle.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.bundle.min.css' %}">
    


    <link rel="stylesheet" href="{% static 'css/business-casual.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/business-casual.css' %}">
</head>
<body>

    
    {% include 'partials/_navbar.html' %}
    
    <main>
        {% include 'partials/_alert.html' %}
        <div class="container mt-4">            
           {% block content %}
           {% endblock %}
        </div>
    </main>

    {% include 'partials/_footer.html' %}   


    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'css/business-casual.min' %}"></script>
    <script src="{% static 'css/business-casual' %}"></script>
    <script src="{% static 'js/bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.slim.js' %}"></script>
    <script src="{% static 'js/jquery.slin.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src= "https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>
    <script src="https://apis.google.com/js/api:client.js"></script>  
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" ></script>
    <script type="text/javascript" src= "https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
  
  
   
</body>
</html>