{% extends 'layout.html' %}
{% load socialaccount %}

{% block content %}

<div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>Login</h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control" required>
                        </div>                      
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" required>
                            
                        </div>     
                        <div class="form-group">
                            
                        </div>                 
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        
                        <a href="{% provider_login_url 'google' %}">Login with Google</a>
                    </form>
                </div>
            </div>
        </div>
    </div>




{% endblock %}